
.rootStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 15rem;
    height: 100vh;
    box-shadow: -.1rem -.2rem .3rem #00000020 inset;
}

.mobileRootStyle {
    position: absolute;
    z-index: 10;
    left: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow-y: scroll;
    transition: .5s ease-in-out;
}

.closeStripeStyle {
    left: calc(-100% + 1.5rem);
}
            